@use 'sass:map';

$colors: (
  primary: #409eff,
  success: #67c23a,
  warning: #e6a23c,
  danger: #f56c6c,
  info: #909399,
  default: #333
);

.bre-link {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s;

  @each $type, $color in $colors {
    &--#{$type} {
      color: $color;

      &:hover {
        color: mix($color, #000, 80%);
      }
    }
  }

  &.is-underline:hover {
    text-decoration: underline;
  }

  &.is-disabled {
    color: map.get($colors, 'info');
    cursor: not-allowed;
    opacity: 0.6;
    text-decoration: none;
  }

  &__icon {
    display: inline-flex;
    margin-right: 0.3em;
  }

  &__content {
    display: inline-flex;
    align-items: center;
  }
}
