.yq-avatar {
  overflow: hidden;
}

.avatar--circle {
  border-radius: 50%;
}

.avatar--square {
  border-radius: 4px;
}

.avatar--large {
  width: 48px;
  height: 48px;
}

.avatar--medium {
  width: 32px;
  height: 32px;
}

.avatar--small {
  width: 24px;
  height: 24px;
}