.yq-avatar {
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  white-space: nowrap;
  cursor: auto;
  outline: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  :deep(svg) {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
  &:hover {
    color: #fff;
  }
}

.yq-avatar__img {
  width: 100%;
  height: 100%;
}

.yq-avatar--circle {
  border-radius: 50%;
}

.yq-avatar--square {
  border-radius: 4px;
}

.yq-avatar--large {
  width: 48px;
  height: 48px;
}

.yq-avatar--medium {
  width: 32px;
  height: 32px;
}

.yq-avatar--small {
  width: 24px;
  height: 24px;
}