.yq-card {
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  font-size: 14px;
  transition: width 0.3s , box-shadow 0.3s;
  color: rgba(0, 0, 0, 0.88);

  &--hover {
    &:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
  }

  &--always {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  &--never {
    box-shadow: none;
  }

  .yq-card__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    transition: all 0.3s;
    border-bottom: 1px solid #f0f0f0;
  }

  .yq-card__body {
    border-radius: 0 0 8px 8px;
    transition: padding 0.3s;
  }

  .yq-card__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 0 8px 8px;
    transition: paddings 0.3s;
    border-top: 1px solid #f0f0f0;
  }
}

.card--border {
  border: 1px solid #f0f0f0;
}

.card-medium {
  .yq-card__header {
    min-height: 56px;
    padding: 0 20px;
    font-size: 16px;
  }
  .yq-card__body {
    padding: 20px;
  }
  .yq-card__footer {
    min-height: 32px;
    padding: 0 20px;
  }
}

.card-small {
  .yq-card__header {
    min-height: 38px;
    padding: 0 12px;
    font-size: 16px;
  }
  .yq-card__body {
    padding: 12px;
  }
  .yq-card__footer {
    min-height: 16px;
    padding: 0 12px;
  }
}

.card-large {
  .yq-card__header {
    min-height: 64px;
    padding: 0 28px;
    font-size: 16px;
  }
  .yq-card__body {
    padding: 28px;
  }
  .yq-card__footer {
    min-height: 42px;
    padding: 0 28px;
  }
}